.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefc01;
  height: 100vh;
}

.background{
  background-color: white;
  height: 400px;
}

.body{
  background: url("https://www.seekpng.com/png/full/29-296441_flyvpn-android-download-mobile-frame-png-transparent.png") no-repeat center;
  background-size: contain;
  height: 430px;
  width: 250px;
  padding-top: 40px ;
  padding-bottom: 40px ;
  padding-left: 15px ;
  padding-right:  15px;
  /* border: 10px solid yellow; */

  /* border-radius: 45px ; */
}
